@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root {
    --background_color: #39dd40;
    --light_grey_text: #727272;
    --black: #131313;
    --white: #ffffff;
    --light_bg: #39dd401a;
    --light_black: #424242;
    --box_shadow: -5px 5px 30px #00000033;
    --box_shadow2: 5px 5px 15px #0000001a;
    --h3_font_size_and_icon_ratio: 45px;
    --p_font_size: 1rem;
}

/* shared styles */
* {
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
}

.btn_primary {
    border-radius: 8px;
    background: var(--background_color);
    padding: 20px 25px;
    color: var(--white);
    font-size: 1.25rem;
    cursor: pointer;
    border: 0;
}

.mt_32px {
    margin-top: 32px;
}

.text_light_grey {
    color: var(--light_grey_text);
}

/* .center {
    text-align: center;
} */

/* header styles */

header {
    background: var(--light_bg);
    padding: 50px 240px;
    text-align: center;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav_title {
    color: var(--black);
    font-size: 2.8rem;
    line-height: 53px;
    /* text-align: center; */
}

nav>ul {
    display: flex;
}

nav li {
    list-style: none;
    margin-right: 30px;
    font-weight: 500;
    font-size: 1rem;
}

nav li a {
    text-decoration: none;
    color: var(--light_black);
}

/* banner styles */

.banner {
    margin-top: 6.375rem;
}


.banner_content {
    max-width: 800px;
    text-align: center;
    margin: 0 auto;
}

.banner_title {
    font-size: 4rem;
    font-weight: 700;
    color: var(--black);
    margin-top: -50px;
    padding-bottom: 1.255rem;

}

.banner_description {
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 26px;
    text-align: center;
}

.banner_png {
    margin-top: 50px;
    border-radius: 8px;
    width: 100%;
}


/* main styles */

main {
    max-width: 1440px;
    margin: 0 auto;
    margin-top: 80px;
}

.teams_container {
    display: flex;
    align-items: center;
}

.teams_img_container {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5rem;
}

.teams_img_container img {
    box-shadow: var(--box_shadow);
    border-radius: 5px;
}

.teams_content {
    padding-right: 4.37rem;
    padding-left: 4.37rem;
}

.teams_title {
    font-size: 2.8125rem;
}

.teams_title>#quick_list {
    font-weight: 500;
}

.teams_title>#of_our {
    font-weight: 700;
    color: var(--black);
}

.teams_title>#features {
    font-weight: 700;
    color: var(--background_color);
}


.teams_description {
    color: var(--light_grey_text);
    font-size: var(--p_font_size);
    font-weight: 400;
    line-height: 26px;
    text-align: left;
}

/* facts section */
.ml240px {
    margin-left: calc((var(--p_font_size))*8);
}

.some_facts {
    color: var(--black);
    font-size: var(--h3_font_size_and_icon_ratio);
    line-height: 53px;
    margin-top: calc((var(--p_font_size))*5);
    margin-bottom: 1.11px;
}

.some_facts_description {
    font-size: 1.188rem;
    font-weight: 400;
    line-height: 26px;
    max-width: 542px;
    margin-bottom: calc((var(--p_font_size))*2);
}

.facts_card_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    gap: 20px;
}

.facts_card_container .card {
    border: 2px solid var(--background_color);
    border-radius: 8px;
    text-align: center;
    padding: 30px 30px;
    box-shadow: var(--box_shadow2);
}

.facts_card_container .card .card_stats {
    color: var(--light_black);
    font-size: 2.8rem;
    font-weight: 600;
    line-height: 53px;
}

.facts_card_container .card .card_title {
    font-size: 1.25rem;
    font-weight: 600;
    line-height: 23px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.facts_card_container .card img {
    width: var(--h3_font_size_and_icon_ratio);
    height: var(--h3_font_size_and_icon_ratio);
}

/* sponsors */

.section_title {
    color: var(--black);
    font-size: var(--h3_font_size_and_icon_ratio);
    line-height: 53px;
    text-align: center;
    margin-top: 50px;
    margin-bottom: 32px;
}

.section_description {
    color: var(--light_grey_text);
    font-size: var(--p_font_size);
    font-weight: 400;
    text-align: center;
}

.sponsors_container {
    margin-top: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 40px;
}

.sponsors_container img {
    width: 152px;
    height: 50px;
}

/* features section styles */

.features {
    display: flex;
    margin-top: 130px;
    gap: 150px;
    padding-bottom: 130px;
}

.feature_card {
    border-radius: 8px;
    box-shadow: var(--box_shadow2);
    background: var(--white);
    margin: 25px 0 25px 0;
    padding: 0 0 30px 30px;
}

.ten_years_badge {
    border-radius: 8px;
    background: var(--background_color);
    width: 342px;
    /* height: 200px; */
    padding: 40px;
    text-align: center;
    position: relative;
    bottom: 100px;
    right: 92px;
}

.ten_years_badge h2,
.ten_years_badge p {
    color: var(--white);
}

.ten_years_badge h2 {
    font-size: 4rem;
}

.ten_years_badge p {
    font-size: 1.5rem;
}

.feature_card_title {
    padding-bottom: 10px;
    font-size: 1.3rem;
}

.feature_title {
    color: var(--black);
    font-size: 2.8125rem;
    border-left: 5px solid var(--background_color);
    padding-left: 21px;
}

.feature_description {
    margin-top: 24px;
    margin-bottom: 60px;
    font-size: 1rem;
}

.feature_card_title {
    color: var(--black);
    text-align: left;
}

.feature_card_description {
    color: var(--light_grey_text);
    font-size: 1rem;
}

.feature_img {
    height: 900px;
}

.feature_img img {
    height: 90%;
    margin-left: 50px;
}

/* footer styles */
footer {
    display: flex;
    justify-content: center;
}

.footer {
    background: var(--light_bg);
    width: 1440px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 8.752rem;
    margin-bottom: 13.5rem;
}

.footer p {
    color: var(--light_black);
    font-size: 1.25rem;
    font-weight: 400;
    line-height: 23px;
    letter-spacing: 0%;
    border-radius: 8px;
}

/* responsive media queries */

@media screen and (max-width:576px) {
    header {
        padding: 20px;
    }

    nav,
    .teams_container,
    .facts_card_container,
    .sponsors_container,
    .features {
        flex-direction: column;
    }

    .features {
        flex-wrap: wrap;
        align-content: center;
    }

    .ten_years_badge {
        left: 20%;
    }

    .facts_card_container {
        padding: 0 50px;
        gap: 20px;
    }

    nav>ul {
        margin-top: 2rem;
    }

    .teams_img_container {
        grid-template-columns: 1fr;
    }

    .ml240px {
        margin-left: 2rem;
    }

    .teams_content {
        padding: 0 20px;
        text-align: center;
    }

    .some_facts {
        text-align: center;
    }
}

/* medium devices */
@media screen and (min-width:576px) and (max-width:960px) {
    header {
        padding: 50px;
    }

    .teams_container {
        flex-direction: column;
    }

    .right_align {
        text-align: right;
    }

    .some_facts,
    .some_facts_description {
        text-align: left;
    }

    .sponsors_container {
        flex-wrap: wrap;
    }
}

@media screen and (max-width:100px) {
    * {
        visibility: hidden;
    }
}